%h1= t('admin.resource.index.title', inflections)

= table_for(@collection, class: resource_class) do |table, record|
  = render 'table', table: table, resource_class: resource_class
  
  = table.actions do
    = table.action :edit, edit_resource_path(record)
    = table.action :destroy, resource_path(record), method: :delete

= link_to t('admin.resource.index.actions.new', inflections), new_resource_path
